@mixin tag-display($gap: 2rem, $flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;

  gap: $gap;
}

.container {
  @include tag-display();

  width: 100%;

  margin: 1.25rem auto;

  & ul {
    @include tag-display();
    width: 100%;
    align-items: center;
    @media screen and (min-width: 1050px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
