.light-yellow {
  background-color: var(--color-light-yellow);
}

.ligth-orange {
  background-color: var(--color-ligth-orange);
}

.light-violet {
  background-color: var(--color-light-violet);
}
.light-brown {
  background-color: var(--color-light-brown);
}
.pale-orange {
  background-color: var(--color-pale-orange);
}
.light-blue {
  background-color: var(--color-light-blue);
}
.light-gray {
  background-color: var(--color-light-gray);
}
.light-red {
  background-color: var(--color-light-red);
}
.green {
  background-color: var(--color-green);
}
.white {
  background-color: var(--color-white);
}
.blue {
  background-color: var(--color-blue);
}
