@mixin defaultTypography(
  $font-size: 0.9rem,
  $color: var(--color-ship-grey),
  $font-weight: 700
) {
  color: $color;
  font-family: var(--font-primary);
  font-size: $font-size;
  font-weight: $font-weight;
}

.title {
  @include defaultTypography();

  &.two {
    color: #333333;
  }
}

.paragraph {
  @include defaultTypography($font-size: 0.8rem, $font-weight: 400);
}

.span {
  @include defaultTypography($font-size: 0.75rem, $font-weight: 400);
  width: 100%;
  text-align: start;
}
